body {
    text-align: center;
    
}
#survay-form{
    background-color: coral;
    width: 900px;
    margin: auto;
}

row-tab{
    display: block;
    padding-top: 20% ;
}

.label-burger {
    display: inline-block;
    width: 40%;
    text-align: right;
}

.input-buger {
    display: inline-block;
    width: 48%;
    text-align: left;
}

.label-select{
    display: inline-block;
    text-align: left;
    width: 48%;
}